{
 :deps      {
             juke                       {:local/root "../juke"}
             io.cucumber/cucumber-core  {:mvn/version "3.0.2"}
             io.cucumber/cucumber-junit {:mvn/version "3.0.2"}
             org.clojure/clojure        {:mvn/version "1.9.0"}
             org.clojure/tools.logging  {:mvn/version "0.4.1"}
             }

 :paths     ["src" "resources" "classes"]

 :mvn/repos {
             "confluent" {:url "https://packages.confluent.io/maven/"}
             "central"   {:url "https://repo1.maven.org/maven2/"}
             "clojars"   {:url "https://repo.clojars.org/"}
             "releases"  {:url "https://fundingcircle.jfrog.io/fundingcircle/libs-release-local"}
             }
 }