{
 :aliases {
           :cucumber ["run" "-m" "fundingcircle.end_to_end.cucumber"
                      "--plugin" "json:cucumber/cucumber.json"
                      "--plugin" "pretty"
                      "features"],

           :snippets ["run" "-m" "fundingcircle.end_to_end.cucumber"
                      "--glue" ""
                      "features"]
           }

 :deps    {
           jukebox                   {:local/root "../jukebox"}
           org.clojure/clojure       {:mvn/version "1.9.0"}
           org.clojure/tools.logging {:mvn/version "0.4.1"}
           }

 :paths   ["src" "src/fundingcircle/end_to_end" "resources" "classes"]
 }
