{:aliases   {:cucumber {:main-opts ["-m" "fundingcircle.end-to-end.cucumber"
                                    "--plugin" "json:cucumber/cucumber.json"
                                    "--plugin" "pretty"
                                    "features"]},

             :snippets {:main-opts ["-m" "fundingcircle.end_to_end.cucumber"
                                    "--glue" ""
                                    "features"]}}

 :deps      {fundingcircle/jukebox     {:local/root "../jukebox"}
             expound                   {:mvn/version "0.7.1"}
             io.aviso/pretty           {:mvn/version "0.1.35"}
             orchestra                 {:mvn/version "2018.11.07-1"}
             org.clojure/clojure       {:mvn/version "1.9.0"}
             org.clojure/tools.logging {:mvn/version "0.4.1"}}

 :paths     ["src" "resources" "troubleshooting"]

 :mvn/repos {
             "releases"  {:url "https://fundingcircle.jfrog.io/fundingcircle/libs-release-local"}
             "confluent" {:url "https://packages.confluent.io/maven/"}
             "central"   {:url "https://repo1.maven.org/maven2/"}
             "clojars"   {:url "https://repo.clojars.org/"}
             }}